
<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/games">Games</a></li>
        <li><a href="/blog">Blog</a>/<a href="/blog/atom.xml">Feed</a></li>
        <li><a href="/docs/privacy.html">Privacy</a></li>
        <li><a href="/docs/terms.html">Terms</a></li>
      </ul>
    </nav>
    <div class="container">
      
      {{ content }}
      
    </div>
    <footer>
      <ul>
        <li><a href="mailto:vrgamestudios@gmail.com">Email</a></li>
      </ul>
    </footer>
    <h3>External Links</h3>
    <nav>
      <ul>
        <li><a href="/spaceinvaders-xbox-pc">Space Invaders Xbox &amp; PC</a></li>
        <li><a href="/spaceinvaders-xbox-pc-trial">Space Invaders Xbox &amp; PC TRIAL</a></li>
        <li><a href="https://vrgamestudio.itch.io">VR Game Studio on Itch.io</a></li>
      </ul>
  </body>
</html>
